:root {
    --azul-claro: #15B5C2;
    --azul-um-pouco-mais-escuro: #14ABBB;
    --azul-escuro: #12A7C7;
    --cinza-claro: #A1A1A2;
    --cinza-um-pouco-mais-escuro: #5E5F61;
    --cinza-escuro: #5B5C5E;
    --principal: #ffff;
}

.destaque {
    display: flex;
    justify-content: center;
}

.card-body {
    background-color: var(--azul-um-pouco-mais-escuro);
}

#card1 {
    margin-left: 120px;
    width: 18rem;
    display: inline-table;
    margin-top: 60px;
}

.btn-btn-primary {
    display: inline-block;
    background-color: var(--cinza-escuro);
    color: var(--principal);
    padding: 10px 10px;
    margin-left: 65px;
    border-radius: 8px;
    text-decoration: none;
}

.card-title {
    display: block;
}

.card-img-top {
    border-top: 15px;
}