:root {
    --azul-claro: #15B5C2;
    --azul-um-pouco-mais-escuro: #14ABBB;
    --azul-escuro: #12A7C7;
    --cinza-claro: #A1A1A2;
    --cinza-um-pouco-mais-escuro: #5E5F61;
    --cinza-escuro: #5B5C5E;
    --principal: #ffff;
}