:root {
    --azul-claro: #15B5C2;
    --azul-um-pouco-mais-escuro: #14ABBB;
    --azul-escuro: #12A7C7;
    --cinza-claro: #A1A1A2;
    --cinza-um-pouco-mais-escuro: #5E5F61;
    --cinza-escuro: #5B5C5E;
    --principal: #ffff;
}

.container-orcamento {

    padding: 20px 80px;
}

.orcamento {
    color: var(--azul-claro);
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #a3a3a3;
    margin-left: 545px;
}

.lado {
    color: var(--azul-escuro);
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 24px;
    margin-left: 105px;
}

.p-lado {
    color: var(--cinza-escuro);
    margin-bottom: 0;
    padding-bottom: 10px;
    margin-left: 45px;
}

.formulario-orcamento {
    display: flex;
    flex-direction: column; 
    gap: 20px;              
    padding: 20px 80px;
    max-width: 1200px;
    margin-left: 545px;
    margin-bottom: 120px;
}


.campo-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none; 
}


.editor-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}


.toolbar {
    background-color: #e0e0e0;
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    font-family: serif;
    font-size: 14px;
    display: flex;
    gap: 15px;
}


.campo-texto {
    width: 100%;
    height: 150px;
    padding: 12px;
    border: none;
    font-size: 16px;
    resize: vertical; 
    outline: none;
}


.botao-enviar {
    background-color: #1ebcd2;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.botao-enviar:hover {
    background-color: #16a2b8;
}