<footer>
    <div class="footer-topo">
        <div class="footer-content">
            <div class="logo">
                <h2>Mi<span>O</span>lo</h2>
            </div>

            <div class="links-container">
                <div class="coluna">
                    <h3>Miolo</h3>
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="#">Trabalhe Conosco</a></li>
                        <li><a href="localizacao.html">Nossa Unidade</a></li>
                        <li><a href="sobre.html">Contato</a></li>
                    </ul>
                </div>

                <div class="coluna">
                    <h3>Políticas</h3>
                    <ul>
                        <li><a href="#">Política de Privacidade</a></li>
                    </ul>
                </div>

                <div class="coluna">
                    <h3>Produtos</h3>
                    <ul>
                        <li><a href="#">Produto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-base">
        <div class="footer-content-base">
            <p>Miolo &copy; 2026. Todos os direitos reservados.</p>
            <p>Desenvolvido por Arthur</p>
        </div>
    </div>
</footer>