<header>
    <div id="top">
        <a href="/index.html"><img class="Logo" src="/img/image.png" alt=""></a>
        <ul>
            <li><a class="btn" href="/index.html">Home</a></li>
            <li><a class="btn" href="Produtos.html"> Produtos</a></li>
            <li><a class="btn" href="sobre.html"> Sobre</a></li>
            <li><a class="btn" href="localizacao.html"> Localização</a></li>
            <li><a class="btn" href="orcamento.html"> Orçamento</a></li>
        </ul>
    </div>
</header>